@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(12, 12, 229);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

/* Navbar */

header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

header a {
  display: block;
  width: 200px;
}

header a img {
  display: block;
  width: 100%;
}

/* Main Area */

.properEnglish {
  margin-top: 2rem;
}

section {
  width: 100%;
  padding: 10px;
}

h2 {
  margin-bottom: 1rem;
}

form {
  width: 100%;
  margin-inline: auto;
  font-size: 16px;
}

input {
  display: block;
  width: 100%;
  height: 2rem;
  border: 0;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  margin-top: 0.4rem;
}

select {
  display: block;
  width: 150px;
  height: 30px;
  border: 0;
  border-radius: 8px;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  font-size: 16px;
  cursor: pointer;
}

option {
  font-size: 16px;
}

label {
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}

#toneOfVoiceLabel {
  display: none;
}

#keywordsLabel {
  display: none;
}

.sliderContainer {
  width: 100%;
  display: none;
  flex-direction: column;
}

.sliderlabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sliderlabel h3 {
  font-size: 16px;
}

#myRange {
  margin-top: 0;
  padding: 0;
  opacity: 0.9;
  cursor: pointer;
  accent-color: navy;
}

#myRange:hover {
  accent-color: rgb(0, 0, 236);
  opacity: 1;
}

#mytokenRange {
  margin-top: 0;
  padding: 0;
  opacity: 0.9;
  cursor: pointer;
  accent-color: navy;
}

#mytokenRange:hover {
  accent-color: rgb(0, 0, 236);
  opacity: 1;
}

textarea {
  display: block;
  width: 100%;
  min-height: 2rem;
  border: 0;
  border-radius: 10px;
  padding: 8px;
  margin-top: 0.5rem;
  resize: vertical;
  font-size: 16px;
}

.buttonDiv {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  background-color: var(--primary-color);
  color: white;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#eraseBtn {
  color: rgb(209, 38, 38);
  background-color: transparent;
  border: 1px solid rgb(209, 38, 38);
}

#eraseBtn:hover {
  color: white;
  background-color: rgb(209, 38, 38);
}

button:hover {
  background-color: rgb(34, 34, 206);
}

/* Output Container */
.outputContainer {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

#output {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-height: 4rem;
  background-color: white;
  border: 2px solid rgba(0, 0, 128, 0.344);
  border-radius: 8px;
  color: black;
  padding: 10px;
  font-size: 16px;
}

#copyBtn {
  width: 185px;
  height: 35px;
  margin-top: 0.5rem;
}

#re-generateBtn {
  border: 1px solid navy;
  background-color: transparent;
  color: navy;
}

#re-generateBtn:hover {
  border: 1px solid rgb(0, 0, 242);
  background-color: transparent;
  color: rgb(0, 0, 242);
}

footer {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline dashed salmon;
}

@media (min-width: 48rem) {
  #sectionContainer {
    display: flex;
    justify-content: center;
    margin-inline: 2rem;
    margin-bottom: 8rem;
  }

  section {
    max-width: 800px;
  }

  #myRange {
    opacity: 0.5;
  }

  #mytokenRange {
    opacity: 0.5;
  }

  .buttonDiv {
    justify-content: flex-start;
    gap: 20px;
  }

  #outputSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #output {
    margin-bottom: 1rem;
  }

  #copyBtn {
    width: 200px;
  }
}


@media screen and (min-width: 64rem) {
  #sectionContainer {
    margin-inline: 3rem;
  }
}


@media screen and (min-width: 75rem) {
  #sectionContainer {
    margin-inline: 4rem;
  }
}