@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(0, 0, 132);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

/* Navbar */
header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

header a {
  width: 200px;
}

header a img {
  width: 100%;
}

/* Footer */
footer {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline dashed rgb(12, 12, 229);
}
